annotated-types==0.7.0 ; python_version >= "3.13" and python_version < "4.0"
asgiref==3.8.1 ; python_version >= "3.13" and python_version < "4.0"
attrs==24.2.0 ; python_version >= "3.13" and python_version < "4.0"
bcrypt==4.2.1 ; python_version >= "3.13" and python_version < "4.0"
certifi==2025.4.26 ; python_version >= "3.13" and python_version < "4.0"
django-cors-headers==4.6.0 ; python_version >= "3.13" and python_version < "4.0"
django-dramatiq==0.11.6 ; python_version >= "3.13" and python_version < "4.0"
django-environ==0.11.2 ; python_version >= "3.13" and python_version < "4.0"
django-periodiq==0.3.0 ; python_version >= "3.13" and python_version < "4.0"
django-redis==5.4.0 ; python_version >= "3.13" and python_version < "4.0"
django-storages==1.14.4 ; python_version >= "3.13" and python_version < "4.0"
django==5.1.4 ; python_version >= "3.13" and python_version < "4.0"
djangorestframework-simplejwt==5.3.1 ; python_version >= "3.13" and python_version < "4.0"
djangorestframework==3.15.2 ; python_version >= "3.13" and python_version < "4.0"
dramatiq==1.17.1 ; python_version >= "3.13" and python_version < "4.0"
drf-spectacular==0.28.0 ; python_version >= "3.13" and python_version < "4.0"
inflection==0.5.1 ; python_version >= "3.13" and python_version < "4.0"
jsonschema-specifications==2024.10.1 ; python_version >= "3.13" and python_version < "4.0"
jsonschema==4.23.0 ; python_version >= "3.13" and python_version < "4.0"
pendulum==3.0.0 ; python_version >= "3.13" and python_version < "4.0"
periodiq==0.13.0 ; python_version >= "3.13" and python_version < "4.0"
prometheus-client==0.21.1 ; python_version >= "3.13" and python_version < "4.0"
psycopg2-binary==2.9.10 ; python_version >= "3.13" and python_version < "4.0"
pydantic-core==2.27.1 ; python_version >= "3.13" and python_version < "4.0"
pydantic-settings==2.6.1 ; python_version >= "3.13" and python_version < "4.0"
pydantic==2.10.3 ; python_version >= "3.13" and python_version < "4.0"
pyjwt==2.10.1 ; python_version >= "3.13" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.13" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.13" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.13" and python_version < "4.0"
redis==5.2.1 ; python_version >= "3.13" and python_version < "4.0"
referencing==0.35.1 ; python_version >= "3.13" and python_version < "4.0"
rpds-py==0.22.3 ; python_version >= "3.13" and python_version < "4.0"
sentry-sdk==2.29.1 ; python_version >= "3.13" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.13" and python_version < "4.0"
sqlparse==0.5.2 ; python_version >= "3.13" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.13" and python_version < "4.0"
tzdata==2024.2 ; python_version >= "3.13" and python_version < "4.0"
uritemplate==4.1.1 ; python_version >= "3.13" and python_version < "4.0"
urllib3==2.4.0 ; python_version >= "3.13" and python_version < "4.0"
whitenoise==6.8.2 ; python_version >= "3.13" and python_version < "4.0"
